### Maven / build ###
target/
**/target/
*.class

### Logs ###
logs/
**/logs/
*.log

### Java ###
*.jar
!**/.mvn/wrapper/maven-wrapper.jar
*.war
*.ear
hs_err_pid*

### IDE ###
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
bin/

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
HELP.md

### Variables de entorno locales (si las llegas a usar) ###
.env
.env.local
